# Ignore Node and dependency directories
node_modules/

# SvelteKit generated artifacts
.svelte-kit/

# Build output
build/

dist/

# Logs and coverage
*.log
coverage/

# Vite cache
vite.config.ts.timestamp-

